
.contact-me-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.contact-me-btn .fa {
  width: 21px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.actionbtn {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-family: arial;
  text-align: center;
  vertical-align: middle;
  padding: 15px 30px;
  border-radius: 2px;
  background: #4fc949;
  font-size: 20px;
  color: #fff;
  text-decoration: none !important;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: none;
}
.actionbtn:hover,
.actionbtn:focus {
  background: #3fb13a;
  color: #fff;
}
.schedule-btn {
  background: #ea9920;
}
.schedule-btn:hover,
.schedule-btn:focus {
  background: #ca8219;
}
.btns-sep {
  display: none;
}

.section-subheading {
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem; }


ul.ul-edu {
  list-style: none; }

ul.ul-edu li {
  position: relative;
  padding: 0 15px 4px 3px; }


ul.ul-edu li .description p {
  margin: 0; }

ul.ul-edu li .description p.course {
  font-size: 0.9rem; }

ul.ul-edu li .description p.institution {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6); }

#contactme-section {
  font-size: 19px;
  margin-top: 60px;
}

#contactme-section h1 {
  font-size: 50px;
}

#contact-form p {
  margin-bottom: 10px;
}

#contact-form .form-control {
  margin-bottom: 15px;
}
